{% include 'header.html' %}
<br/>
<h4>My Bookings</h4>
    <br/>
    <table class="table">
        <thead>
        <tr>
            <th>booking id</th>
            <th>booking time</th>
        <th>number of tickets</th>
            <th>total amount</th>
            <th>payment status</th>

        </tr>
        </thead>
        <tbody>
        {% for item in data %}
            <tr>
            <td>{{ item._id }}</td>
                <td>{{ item.booking_date_time }}</td>
                <td>{{ item.no_of_tickets }}</td>
                <td>{{ item.total_amount }}</td>
                <td>{{ item.is_paid }}</td>
                {% if item.is_paid %}
                <td>Payment done</td>
                {% else %}
                <td><a href="{{ url_for('payment') }}?id={{ item._id }}">payment </a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% include 'footer.html' %}