{% include 'header.html' %}

<div align="center"><h1>Edit Theatre</h1></div>
<br/>
<br/>
<div align-items="center">
    <form enctype="multipart/form-data" method="post">
        <div class="row">
            <div class="col-3">

                <label>Name</label>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" name="name" value="{{ data.name }}" required/>
            </div>
        </div><br/>
        <div class="row">
            <div class="col-3">
                <label>Location</label>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" name="location" value="{{ data.location }}" required/>
            </div>
        </div><br/>
        <div class="row">
            <div class="col-3">
                <label>No of seats</label>
            </div>
            <div class="col-3">
                <input type="number" class="form-control" name="num_seats"
                       value="{{ data.num_seats }}"/>
            </div>
        </div><br/>
        <input type="submit" class="btn btn-primary" name="submit"/>
    </form>
</div>
{% include 'footer.html' %}
