{% include 'header.html' %}
<br/>
<h4>Movies</h4>
        {% if session['isadmin'] %}

<a href="{{ url_for('movie.add_movie') }}" class="btn btn-primary">Add Movie </a><br/>
{% endif %}
<br/>
<table class="table">
    <thead>
    <tr>
        <th>Movie Name</th>
        <th>Description</th>
        <th>language</th>
        <th>Playtime</th>
        {% if not session['isadmin'] %}
            <th></th>
        {% else %}
            <th></th>
            <th></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for item in data %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.desc }}</td>
            <td>{{ item.language }}</td>
            <td>{{ item.playtime }}</td>
            {% if session['isadmin'] %}

                <td><a href="{{ url_for('movie.edit_movie') }}?id={{ item._id }}">edit </a></td>
                <td><a href="{{ url_for('movie.delete_movie') }}?id={{ item._id }}">delete </a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include 'footer.html' %}
